<div class="row">
    <a href="{{ url('shares') }}">Shares</a>
</div>
<div class="row">
    <a href="{{ url('friends') }}">Friends</a>
</div>
<div class="row">
    <a href="{{ url('logout') }}">Logout</a>
</div>
